.App {
  text-align: center;
}

#wrapper {
  width: 100vw;
  height: 100vh;
}

#quote-box {
  display: grid;
  background-color: white;
  width: 50%;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.grid-container {
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'quote' 'author' 'buttons';
  align-items: center;
  justify-items: center;
  padding: 20px;
}

#text {
  grid-area: 'quote';
  grid-column: 1/4;
  font-size: 30px;
}

#author {
  grid-area: 'author';
  grid-column: 3;
}

#tweet-buttons {
  grid-area: 'buttons';
  grid-column: 1;
}

#tweet-quote {
  font-size: 40px;
}

#new-button {
  grid-area: 'buttons';
  grid-column: 3;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
